
*{
    margin: 0;
    padding: 0;
}

.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.barra-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    color: white;
    background-color: rgb(41, 40, 40);
    padding: 1.5rem;
}

.imagen-valo img{
    background-color: gray;
    padding: 0.3rem;
}

.texto-derecha{
    font-size: 1.3rem;
}

.imagen-valo{
    display: flex;
    justify-content: flex-start;
    width: 110rem;
}